.maincontainer{
    display: flex;
   
   

 

   
  
}

.log{
   
   
    background-color:#1c70a4c5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height:500px;
    width: 50%;
margin-right: 150px;
    border-radius: 10px;
   
  
 
}
.inscriptioncontainer{
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
 
}
.titlemain{ background-color: #13527a;
    color: #ffffff;
    padding-left:50px;
    padding-right:50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin:0px;
    position:relative;
    top:-4%;
    display: flex;
    justify-content: center;
    width:95%;
    font-family: 'KumbhSans', sans-serif;
    border-radius: 5px;
    margin-bottom:10px;
}
.contentleft{
    columns:1/2;
    font-size: 40px;
   display: flex;
color:rgb(0, 0, 0);
   align-items: flex-start;
   flex-direction: column;
   height: 100%;
   width: 60%;
   padding-right: 10%;
 
  
}
.bienvenue{
    font-size: 70px;
}

.inscription{
    display: flex;
    flex-direction: column;
    color: #F4EBD6;
    margin-right:50px;
    padding-bottom: 15px;
    
}
.inscriptionright{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin-left:50px;
}
.connexion{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding-top:12.6%
}

.label{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 15px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
}

.input{
    border:  #124660 solid 2px;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    display: flex;
    padding: 15px;
 
    
}
.btn{
    border:solid #ffffff 1px;
    background-color:  #33698392;
    margin-top: 44px;
    margin-bottom: 50px;
    padding:10px 30px 10px 30px;
    color:#ffffff;
    width: 100%;
    border-radius: 20px;
    transition: 0.5s;
    letter-spacing: 4px;
    cursor: pointer;
}

.btn:hover{
    border:solid #ffffff 1px;
    background-color:  #13527A;
    margin-top: 44px;
    margin-bottom: 50px;
    padding:10px 30px 10px 30px;
    color:#ffffff;
     width: 100%;
    color:white;
    border-radius: 20px;
    letter-spacing: 8px;
    transition: 1s;
    cursor: pointer;
}

.pseudo{
color: #1C71A4;
}
.sexe{
    background-color:  #ffffff;
    width: 200px;
    padding:10px;
    border:  #124660 solid 2px;
    border-radius: 20px;
    
}
.femme{
    color:black;
}
.homme{
    color: black;
}

.checkbox{
    border-radius: 100px;
}
.icon{
    margin-left: 30%;
    color: #33698392;
}

.choice{
    margin-bottom: 20px;
}

.popup{
    position: absolute;
    background-color: #ffffff;
    width: 500px;
    top: 65%;
    color: black;
    right: 70%;
    padding:17px;
    border:1px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 18px;
}
.titlepopup{
    font-size: 20px;
}

@media (max-width: 1567px) {
    .input{
        border:  #124660 solid 2px;
        border-radius: 20px;
        height: 40px;
        width: 90%;
        display: flex;
        padding: 15px;
     
        
    }
    .popup{
        position: absolute;
        background-color: #ffffff;
        width: 500px;
        top: 65%;
        color: black;
        right: 62%;
        padding:17px;
        border:1px solid rgb(0, 0, 0);
        border-radius: 10px;
        font-size: 18px;
    }
    .log{
   
        background-color:#1c70a4c5;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height:500px;
        width: 50%;
    margin-right: 150px;
    
        border-radius: 10px;
       
      
     
    }
    .inscription{
        display: flex;
        flex-direction: column;
        color: #F4EBD6;
        margin-right:0px;
        padding-bottom: 15px;
        
    }
    .btn{
        border:solid #ffffff 1px;
        background-color:  #33698392;
        margin-top: 44px;
        margin-bottom: 50px;
        padding:10px 30px 10px 30px;
        color:#ffffff;
        width: 165px;
        border-radius: 20px;
        transition: 0.5s;
        letter-spacing: 4px;
        cursor: pointer;
    }
    
    .btn:hover{
        border:solid #ffffff 1px;
        background-color: #13527A;
        margin-top: 44px;
        margin-bottom: 50px;
        padding:10px 30px 10px 30px;
        color:#ffffff;
        width: 165px;
        color:white;
        border-radius: 20px;
        letter-spacing: 8px;
        transition: 1s;
        cursor: pointer;
    }
    .sexe{
        background-color:  #ffffff;
        width: 165px;
        padding:10px;
        border:  #124660 solid 2px;
        border-radius: 20px;
        font-size: 12px;
        
    }
    .label{
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 15px;
        margin-left: 10px;
        color: #ffffff;
    }
  }