
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color:  #27548a;/* Exemple : couleur similaire à celle de votre fond */
  }

  .bg-diagonal-split {
 
   background-color: #e2e2e2 
  }
  .bg-diagonal-split2 {
    @apply bg-gradient-to-tr from-sky-800 to-slate-200;
    background-image: linear-gradient(50deg, #27548a 100%, #ffffff 55%, #ffffff 50%, #27548a 100%);
    background-size: cover;
    background-position: center;
  }

