body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.background-class {
  background-image: url('/reversed.jpg');
}
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('/reversed.jpg');
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Opacité */
  z-index: 2;
}