.main {
    display: flex;
    flex-direction: column;
    
   
    min-height: 100vh;
    width: 100%;
    top:0px;
    background-image: url('/bgother.jpeg');
    background-attachment: fixed; /* Ajoutez cette ligne */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    
  
  }
  
  .headercontainer{
    width: 100%;
    position: fixed;
    width: 100%;
    
  }
  


  .content{
    margin-top: 13%;
   
    display: flex;
    align-items: center;
    justify-content: center;
width: 100%;
height: 100%;
top: 100px;
display: flex;



}

.contentleft{
width:30%;
height:100%;
}
.contentright{
  height: 100%;
  width: 60%;
  margin-left: 70px;
  /* padding-right: 20px;
  padding-left: 50px;
  padding-top: 50px;; */

}

  .profilData{
 
    height: 100%;
  
  

    
  }

 
.profilMacro{
    /* height: 400px;
    width: 600px;
    w
    padding-bottom: 50px; */
    margin-bottom: 50px;
    /* width: 80%; */
}

.profilGraph{
 width: 94%;;
 margin-left: 35px;
}
.chartContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  border:solid #F4EBD6 1px;
  background-color:#1c70a4;

  padding:10px 10px 10px 10px;
  color:#F4EBD6;
  width: 52%;
 transition: 0.5s;
  border-radius: 20px;
  letter-spacing: 3px;
  cursor: pointer;
  margin-bottom: 15px;

}

.btn:hover{
  border:solid #F4EBD6 1px;
  background-color:#1c70a4c5;


  padding:10px 10px 10px 10px;
  color:#F4EBD6;
  letter-spacing: 5px;
  width: 52%;
transition: 1s;
  color:white;
  border-radius: 20px;
  margin-bottom: 15px;
  cursor: pointer;
}

.input{
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;

  
}

.graph{
  width: 70%;
  padding: 10px;
}

.inputform{
  border:  #124660 solid 2px;
  border-radius: 20px;
  height: 36px;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.label{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

@media (max-width: 1444px) {

.profilGraph{
  width: 100%;;
  margin-left: 0px;
 }}