


.maincontainer {   
    height: 100%;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    border-radius: 10px;
  
   
}

/* .h1 {
    font-size: 40px;
  background-color: blue;
    margin: 0px;
    width: 80%;
    padding-bottom: 20px;
} */


.macro{
    display: flex;
    justify-content: center;
padding:0px;
padding-top: 3%;
  
    /* background-color: rgba(100, 186, 83, 0.605); */
    border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
    /* padding: 30px 30px 30px 30px; */
}
.proteines,
.glucides,
.lipides {
    position: relative;
    width: 200px;
    height: 200px;

    margin-left:30px ;
    margin-right:10px;
   
    color: black;
   
}

.image {
    width: 100%;
    height: 100%;
    transition: filter 0.3s ease;
}

.imgcontainer {
    position: relative;
    border: solid 1px rgb(255, 255, 255);
    height: 99%;
    overflow: hidden; /* Assure que le contenu ne dépasse pas la taille du conteneur */
}

.label {
    margin: 0px;
    margin-bottom: 35px;
    font-size: 15px;
    font-weight: 400;
    height: 40px;
    padding:10px;
    background-color:#ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.data{
    color:#feffff;
    background-color: #1C71A4;
    width: 70px;
    height: 70px;
    display: flex;
    font-size: 25px;
    border: solid 1px rgb(255, 255, 255);

justify-content: center;
align-items: center;}
    
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.imgcontainer:hover .image {
    filter: blur(5px);
}

.imgcontainer:hover .overlay {
    opacity: 1;
}

.piechart{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  background: linear-gradient(to right, #1c70a400 20%, #1C71A4 75%);

width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.chart{
    width: 220px;
     height: 220px;
      margin: 0 auto;
}

.h4{
    margin-top: -5px;
    margin-bottom: 20px;
}

@media(max-width: 1541px) {
    .piechart{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
     width: 40%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      .h4{
        margin-top: 28px;
        margin-bottom: 0px;
        font-size: 12px;
    }
      .label {
        margin: 0px;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 400;
        padding:10px;
        background-color:#ffffff;
        border-radius: 10px;
        font-size: 13px;
        height: 35px;
    }
    .image {
        width: 100%;
        height: 100%;
        transition: filter 0.3s ease;
    }
  
.macro{
    display: flex;
    justify-content: center;
    padding-top: 4%;
    margin-left: 20px;
top:0%;
 

    border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
    /* padding: 20px 30px 20px 30px; */
    width: 100%;
    height: 80%;
    /* height: 300px */
}
.proteines,
.glucides,
.lipides {
    position: relative;
    width: 160px;
    height: 160px;
    margin: 10px;
   
    color: black;
   
}
.chart{
    width: 150px;
     height: 220px;
      margin: 0 auto;
}

.data{
    color:#feffff;
    background-color: #1C71A4;
    width: 50px;
    height: 50px;
    display: flex;
    font-size: 20px;
    border: solid 1px rgb(255, 255, 255);

justify-content: center;
align-items: center;}
}
