.maincontainer{
  

    background-color:#457894e9;
    height: 100%;
    color: #ffffff;
    border-radius: 10px;
}

.pseudo{
    font-size: 50px;
    padding: 20px;
}

.data{
   
    font-size: 25px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

.li{
list-style: none;
margin-bottom: 20px;
background-color:#fffdf7;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
color:#000000;
border-radius: 10px;
display: flex;
justify-content: space-between;
align-items: center;
height: 70px;
}

.data{
    color:#3b6880
}