@font-face {
  font-family: 'KumbhSans';
  src: url('/fonts/KumbhSans-Regular.ttf') format('opentype');
  font-weight: 300;
}




.main {
    display: flex;
    flex-direction: column;
    font-family: 'KumbhSans', sans-serif;
   
    min-height: 100vh;
    width: 100%;
    top:0px;
    background-image: url('/reversed.jpg');
    background-attachment: fixed; /* Ajoutez cette ligne */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    
  
  }
  
  .headercontainer{
    width: 100%;
    position: fixed;
    width: 100%;
    
  }


  .content{
  display: grid;
  grid-template-columns: 33.5% 3% 63.5%;
  grid-template-rows: 14.5% 35% 6% 35% 12.5%;

  width: 100%;
  height: 100vh;;



}

.contentleft{
grid-column-start: 1;
grid-column-end: 2 ;
grid-row-start: 2;
grid-row-end: 5;
display: flex;
justify-content: center;


}
.contentright{
 
  grid-column-start: 3;
  grid-column-end: 4 ;
  grid-row-start: 2;
  grid-row-end: 3;


  
  
}
.contentrightdown{
 
  grid-column-start: 3;
  grid-column-end: 4 ;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;

/* justify-content: center; */
  ;

}

  .profilData{
    border-radius: 20px;
 width: 80%;
 margin-left: 15%;
    background-color:#1c70a4c5;
  
  

    
  }

 
.profilMacro{
  background-color:#1c70a4c5;
  border-radius: 20px;
  width: 87%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center
  ;
}

.profilGraph{
  background-color:#1c70a4c5;
  border-radius: 20px;
  width: 87%;

  
}
.chartContainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  border:solid #F4EBD6 1px;
  background-color:#1c70a4;

  padding:10px 10px 10px 10px;
  color:#F4EBD6;
  width: 52%;
 transition: 0.5s;
  border-radius: 20px;
  letter-spacing: 3px;
  cursor: pointer;
  margin-bottom: 15px;

}

.btn:hover{
  border:solid #F4EBD6 1px;
  background-color:#1c70a4c5;


  padding:10px 10px 10px 10px;
  color:#F4EBD6;
  letter-spacing: 5px;
  width: 52%;
transition: 1s;
  color:white;
  border-radius: 20px;
  margin-bottom: 15px;
  cursor: pointer;
}

.input{
  width: 30%;

  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 0px;
  background: linear-gradient(to left, #1c70a400 1%, #1C71A4 85%);
  border-radius: 20px;
  margin-top: 0px;

  
}



.graph{
  width: 70%;
 
  margin-right: 50px;
  margin-left: 0px;
}

.inputform{
  border:  #124660 solid 2px;
  border-radius: 20px;
  height: 36px;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.label{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
  
}

@media(max-width: 1541px) {

  .profilData{
    border-radius: 20px;
 width: 80%;
 margin-left: 15%;
    background-color:#1c70a4c5;
  
  

    
  }

 
.profilMacro{
  background-color:#1c70a4c5;
  border-radius: 20px;
  width: 87%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center
  ;
}

.profilGraph{
  background-color:#1c70a4c5;
  border-radius: 20px;
  width: 87%;

  
}
.content{
  display: grid;
  grid-template-columns: 33.5% 3% 63.5%;
  grid-template-rows: 16.5% 31% 6% 31% 12.5%;

  width: 100%;
  height: 100vh;;



}
}

