@font-face {
    font-family: 'KumbhSans';
    src: url('/fonts/KumbhSans-Regular.ttf') format('opentype');
    font-weight: 300;
  }
  
  .main {
  
  
    

   display: none;
    width: 100%;
    top:0px;
    height: 320px;
  background-color: #124660;
    width: 100%;
    
  
  
  }

  .container{
    display: flex;
    justify-content: center;

  width: 100%;
    
  }
  

  .leftSection{
display: flex;
justify-content: flex-start;

flex-direction: column;
width: 100px;
margin: 50px;

  }

  .middleSection{
    display: flex;
justify-content: flex-start;

flex-direction: column;
width: 100px;
margin: 50px;

  }

  .rightSection{
    display: flex;
    justify-content: flex-start;

flex-direction: column;
width: 100px;
margin: 50px;

  }
  .disclamerSection{
    display: flex;
    justify-content: flex-start;

flex-direction: column;
width: 50px;
margin: 50px;

  }

  .title{
    font-size: 30px;
    margin-bottom: 20px;
    color: white;;
  }

  .content{
    font-size: 15px;
    color:white;
    margin: 5px;
    cursor: pointer;
  }

  .icon{
    font-size: 30px;
    margin: 10px;
    color: white;;
  }