@font-face {
    font-family: 'KumbhSans';
    src: url('/fonts/KumbhSans-Regular.ttf') format('opentype');
    font-weight: 300;
  }
  
  .main {
     display: flex;
    flex-direction: column;
    
    align-items: center;
    min-height: 100vh;
    width: 100%;
    top:0px; 
    background:linear-gradient(to top, rgb(205, 241, 243), white);
    background-size: cover;
 padding-bottom: 5%;
    background-repeat: no-repeat;
    
  
  
  }
  .cardsContainer{
    display:grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 11% 30.5% 30.5% 28%;
    width: 100%;
    
  }
 
  .titleContainer{
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 1 ;
grid-row-end: 2;

  }

  .imgContainer{
    grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 2 ;
grid-row-end: 5;
display: flex;
width: 100%;
height: 100%;
display: grid;
grid-template-columns: 
1fr;
grid-template-rows: 33% 33% 33%

  }

  .img1Container{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1 ;
    grid-row-end: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img2Container{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2 ;
    grid-row-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img3Container{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3 ;
    grid-row-end: 4;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.text1Container{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2 ;
  grid-row-end: 3;

  padding-left: 5%;
  padding-right: 25%;
}
.text2Container{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3 ;
  grid-row-end: 4;

  padding-left: 5%;
  padding-right: 25%;
}
.text3Container{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4 ;
  grid-row-end: 5;

  padding-left: 5%;
  padding-right: 25%;
}
.contentContainerMain{
  margin-top: 5%;
}

  .title{
    font-size: 45px;
    display: flex;
    color: #1C71A4;
    font-family: 'KumbhSans', sans-serif;
    justify-content: flex-start;
  }

  .titleMain{
    font-size: 65px;
    display: flex;
    color: #1C71A4;
    font-family: 'KumbhSans', sans-serif;
    justify-content:flex-end;
    padding-right: 15%;
    margin: 5px 0px 0px 0px;
    
    
  }

  .image{
    width:45%;
    border-radius: 5px;
    margin-left: 10%;
    transition:  1s ease;
  }

  .contentContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .content{
    width: 100%;
    font-size: 18px;
    height: 180px;
    color: rgb(0, 0, 0);;
    padding: 0px;
    
  
  }
  .colored{
    color: #1C71A4;
    
  }

  .section1{
    width: 100%;
    height:10px;
    background-color:#1C71A4;
    top: 0%;
    margin-bottom: 50px;
    font-size: 30px;
    color:#C5E9CD;
letter-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.paragrapheContainer{
    display: flex;
    width: 80%;
    justify-content: center;
 
    flex-direction: row;
 
}
  .paragraphe{
    font-family: 'KumbhSans', sans-serif;
    padding: 50px;
    border-radius: 10px;
    width: 80%;
    margin: 50px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.843);
    border-bottom: solid #457894  1px;;
    box-shadow: 15px 14px 20px 0px rgba(0, 0, 0, 0.167);
  }

  .colored2{
   color: #457894 ;
  }


  
  .text1Container:hover ~  .image{
    border: #457894 solid 5px;
  }
  
  .image.hovered
{
  transform: translateX(30px);
  width: 50%;
}

.notHovered {
  /* Styles des images lorsqu'une autre image est hoverée */
  opacity: 0.6; /* Exemple : réduire l'opacité */
  filter: grayscale(70%); 
  transform: translateX(-30px);
  width: 37%;/* Exemple : appliquer un filtre en niveaux de gris */
}
.titleContainers{
  display: flex;

  align-items: center;
}
.line1{
  height:2px;
  width: 0px;
  background-color:#1C71A4;
  display: block;
  transition: 0.5s;
  transition-delay: 0.3s;
  margin-left: 30px;
}

.hoveredLine1{
  opacity: 1;
  height:2px;
  width: 55%;
  background-color:#1C71A4;
  display: block;
  margin-left: 30px;
}

.line2{
  transition: 0.5s;
  transition-delay: 0.3s;
  height:2px;
  width: 0px;
  opacity: 0;
  background-color:#1C71A4;
  display: block;
  margin-left: 30px;
}
.hoveredLine2{
  opacity: 1;
  height:2px;
  width: 45%;
  background-color:#1C71A4;
  display: block;
  margin-left: 30px;
}
.line3{
  transition: 0.5s;
  transition-delay: 0.3s;
  opacity: 0;
  height:2px;
  width: 0px;
  background-color:#1C71A4;
  display: block;
  margin-left: 30px;
}

.hoveredLine3{
  opacity: 1;
  height:2px;
  width: 55%;
  background-color:#1C71A4;
  display: block;
  margin-left: 30px;
}