
@font-face {
    font-family: 'PPNeueMachina';
    src: url('/fonts/PPNeueMachina-Regular.otf') format('opentype');
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'PPNeueMachina';
    src: url('/fonts/PPNeueMachina-Ultrabold.otf') format('opentype');
    font-weight: bold;
  }
  
  @font-face {
    font-family: 'PPNeueMachina';
    src: url('/fonts/PPNeueMachina-Light.otf') format('opentype');
    font-weight: 300;
  }
  @font-face {
    font-family: 'KumbhSans';
    src: url('/fonts/KumbhSans-Regular.ttf') format('opentype');
    font-weight: 300;
  }
.maincontainer{
    display: flex;
   
   
 

   
  
}

.log{

    transition: height 1s;
    background-color: #457894e1;
    display: flex;
    padding-top: 10px;
    /* justify-content: center;; */
    flex-direction: column;
/* height:500px; */
    width: 25%;
    transition: 1s;
    border-radius: 5px;
    align-items: center;
    box-shadow: 15px 14px 20px 0px rgba(0, 0, 0, 0.615);

    border-radius: 8px; /* Facultatif : arrondir les coins */

  
  
 
}

.contentleft{
   
    font-size: 30px;
   display: flex;
color:rgb(0, 0, 0);
   align-items: flex-start;
   flex-direction: column;
   height: 100%;
   width: 58%;
   font-size: 40px;
 

  
}
.bienvenue{
    font-family: 'KumbhSans', sans-serif;
    font-size: 60px;
    color: rgb(6, 6, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
   
   
}
.subTitle {
    font-size: 25px;
    width: 80%;
    margin-top: -30px;
    font-family: 'KumbhSans', sans-serif;
  }



.heaf{
    font-family: 'KumbhSans', sans-serif;
    position: relative;
    z-index: 1;
    font-size: 100px;
    color:rgb(69,121,148);
    margin-bottom: 15px;;
    margin-left: 20px;
    
}

.subtitle {
    width: 60%;
    margin-top: 8%;
    padding: 20px;
    font-size: 22px;
    background-color: #457994;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 100;
    border-radius: 10px;
    position: relative;
  }
  .btnprog {
    width: 100px;
    height: 65px;
    background-color: white;
    border-radius: 100px;
    border: none;
  }
  
  .icon {
    font-size: 50px;
    cursor: pointer;
    transition: transform 1s;
  }
  .rotate {
    transform: rotate(90deg);
  }
  .dropdownMenu {
    
    opacity: 0;
    transition: opacity 2s, max-height 1s;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    padding: 10px;
    z-index: 1;
  }
  
  .dropdownMenu.show {
    display: block;
    opacity: 1;
    color: black;
    transition: opacity 1s, max-height 2s;
    font-size: 18px;
    max-height: 400px; /* Ajustez en fonction de la taille de votre contenu */
  }
.inscription{
    padding-top: 8%;
    display: flex;
    flex-direction: column;
    color: #F4EBD6;
    width: 50%;
   

    
}
.connexion{
    display: flex;
    flex-direction: column;
    color: #F4EBD6;
    padding-top:12.6%
}

.label{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 15px;
    margin-left: 10px;
}

.input{
    border:  #124660 solid 2px;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    display: flex;
    padding: 15px;
 
    
}

.btn{
    border:solid #F4EBD6 1px;
    background-color:  #124660;
    margin-top: 40px;
    margin-bottom: 50px;
    padding:10px 60px 10px 60px;
    color:#F4EBD6;
    width: 100%;
   transition: 0.5s;
    border-radius: 20px;
    letter-spacing: 4px;
    cursor: pointer;

}

.btn:hover{
    border:solid #F4EBD6 1px;
    background-color:  #33698392;
    margin-top: 40px;
    margin-bottom: 50px;
    padding:10px 60px 10px 40px;
    color:#F4EBD6;
    letter-spacing: 8px;

  transition: 1s;
    color:white;
    border-radius: 20px;
    cursor: pointer;
}
.menu{
    position: relative;
    /* top:27%; */
    width: 95%;
    
    
}
.btncontainer{
    width: 100%;
    display: flex;
   

  
}
.inBtn {
    background-color: #124660;

    color: #f4ebd6;
    width: 100%;
    border: none;
    margin:1px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    font-family: 'KumbhSans', sans-serif;
  }

  .coBtn {
    background-color: #124660;
    color: #f4ebd6;
    width: 100%;
    border: none;
    margin:1px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    font-family: 'KumbhSans', sans-serif;
  }
  
  .inBtn:hover {
    background-color: #33698392;
    color: white;
  }
  .coBtn:hover {
    background-color: #33698392;
    color: white;
  }